# Ignore virtual environments
d_env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore large model files and logs
fine_tuned_model/
*.log

# Ignore data files
*.csv
*.xlsx
datasets/
cache/

# Ignore IDE files
.vscode/
.idea/

# Docker files
*.dockerignore
